{% extends "index.html" %}
{% block content %}
<script>
  function methodSelected(place, stage){
    console.log("You selected someting!");
    console.log(place);
    console.log(stage);


  }
  function selectedS(){
    console.log("You selected someting!");
    console.log
    var method = document.getElementById('method');
    var strMethod = method.options[method.selectedIndex].value;
    console.log(strMethod);
    var strings = strMethod.split(' ').reverse();
    document.getElementById('stage').value = strings[0];
    document.getElementById('place').value = strings[1];

  }
</script>

<div class="container" padding-top="10em">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="formcontent">
      <h3>
        Place Notation Reader
      </h3>
      <p>
        Select a method from from the drop down list, or enter the place notation 
        and stage (number of bells) in the boxes below.
      </p>
      <p>
        Methods with an indicated lead end are assumed to be symmetric around the 
        half lead. Some variation in the place notation is allowed. For example, 
        <b>xhx4 l2</b> is equivalent for minor to <b>x.16.x.14_l12</b> or 
        <b>xhx4xhx2</b>.
      </p>
      <p>
        Press submit to view a blue line diagram and listen to the method.
      </p>
      <!-- <form class="form-group" enctype="multipart/form-data" action="https://change-ringing.herokuapp.com/accept" method=post> -->
      <form class="form-group" enctype="multipart/form-data" action="http://0.0.0.0:5000/accept" method=post>
        <!-- default song selection if no string typed in -->
        <label for="layer">Methods</label>
        <select type="text" class="form-control" name="method" id=method onchange="selectedS()">
           {% for method in methods %}
           <option>{{ method.method + method.place + method.stage }}</option>
           {% endfor %}
         </select><br>
        <!-- change input from user -->
        <label for="place">Place Notation</label><br>
        <input type="text" name="place" id="place"><br>
        <label for="stage">Stage (4–12)</label><br>
        <input type="text" name="stage" id="stage"><br>
        <br>

        <input type="submit" value="Submit" class="form-control">
      </form>
      <br>
    </div>
  </div>
</div>

{% endblock %}
