{% extends "index.html" %}
{% block content %}

<div class="container" padding-top="10em">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="formcontent">
      <form class="form-group" enctype="multipart/form-data" action="https://change-ringing.herokuapp.com/accept" method=post>

        <!-- change input from user -->
        <label for="change">Change ringing string</label><br>
        <input type="text" name="change" id="change"><br>

        <!-- default song selection if no string typed in -->
        <label for="layer">Songs</label>
        <select type="text" class="form-control" name="song" id=song>
           {% for song in songs %}
           <option>{{ song }}</option>
           {% endfor %}
         </select>
         <br>
        <input type="submit" value="Submit!!!" class="form-control">
      </form>
      <br>
    </div>
  </div>
</div>

{% endblock %}
